.button {
    width: 200px;
    height: 40px;
    border-style: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.button-style1 {
    background-color: rgb(39, 128, 247);
    border-radius: 4px;
    color: white;
}

.button-style2{
    color: rgb(85, 136, 238);
    background-color: white;
    border-radius: 1px;
    color: rgb(85, 136, 238);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
}

.button-style2:hover {
    background-color: rgb(224, 247, 250);
}
.btn-disabled {
    color: rgba(0, 0, 0, 0.3) !important;
    background-color: #b5b5b5;
    cursor: auto;
}

.btn-disabled:hover {
    background-color: #b5b5b5;
}


.loading {
    background-color: #b5b5b5;
    color: white;
    cursor: wait;
}

.loading:hover {
    background-color: #b5b5b5;
}
