.loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 50px;
    font-size: 16px;
    color: rgb(85, 136, 238);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px
}

.loadmore-medium {
    font-size: 14px;
    border-radius: 4px;
    width: 250px;
    height: 40px;
}
.loadmore-small {
    font-size: 12px;
    border-radius: 3px;
    width: 120px;
    height: 30px;
}
.loadmore:hover {
    background-color: rgb(224, 247, 250);
}
.loadmore > span {
    display: inline-block;
    margin-left: 9%;
}

.loadmore-loading {
    cursor: wait;
}