.Radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    line-height: 16px;
    cursor: pointer;
}
.Radio:hover {
    border: 1px solid #108ee9;
}

.Radio::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
}
.Radio-checked {
    border: 1px solid #108ee9;
}
.Radio-checked::after{
    content: 'â—';
    font-weight: 900;
    color: #108ee9;
}
.Radio > input {
    display: none;
}

.Radio-disabled {
    border: 1px  solid #d9d9d9;
    background-color: #f7f7f7;
        cursor: not-allowed;
}

.Radio-disabled:hover {
    border-color: #d9d9d9;
}

.Radio-disabled::after{
    color: rgba(0,0,0,.25);
}

.Radio + label {
    margin-left: 5px;
    cursor: pointer;
}

.Radio-disabled + label {
    cursor: not-allowed;
    color: rgba(0,0,0,.25);
}

.Radio-container{
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    
}
.Radio-container > .label {
    display: inline-block;
    word-wrap: break-word;
    white-space: normal;
}
.RadioGroup-level > .Radio-container + .Radio-container {
    /* margin-left: 15px; */
}
.RadioGroup {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.RadioGroup-vertical {
    flex-direction: column;
}
.RadioGroup-vertical > .Radio-container + .Radio-container {
    margin-top: 10px;
}