.app_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 6rem;

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .linkItem {
      color: #807e7e;
      font-size: 1rem;
      text-align: center;
      cursor: pointer;
      padding-left: 4px;
      padding-right: 4px;
      text-decoration: none;

    }
    .copyright {
      color: #adadad;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}




